# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
js/build
discover-bundle.js
bundle.js
bundle.css
__deployme

# misc
.DS_Store
npm-debug.log
